*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,30,0.4),rgba(0,0,30,0.4)),url(images/login_background.jpg);
}

.row{
    display: flex;
    justify-content: space-around;
}

.row .box{
    /* border: 1px solid black; */
    width: 31%;
    height: 420px;
    margin: 20px 7px;
    align-items: center;
    background-color: rgba(222, 220, 220, 0.628);
    border-radius: 7px;
    transition: linear 0.5s;
} 

.row .box:hover{
    scale: 1.04;
}

.row .box:hover img{
    scale: 1.01;
}

.row .box a{
    text-decoration: none;
}

.row .box .heading{
    color: rgb(53, 53, 53);
    position: relative;
    left: 8%;
    font-weight: 600;
    margin-top: 17px;
}

.row .box .content{
    color: rgb(53, 53, 53);
    position: relative;
    left: 8%;
    margin-top: 0;
    font-size: 15px;
}

.row .box img{
    height: 300px;
    width: 250px;
    position: relative;
    left: 8%;
    top: 15px;
    transition: 0.5s;
}