*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(rgba(0,0,30,0.4),rgba(0,0,30,0.4)),url(images/login_background.jpg);
}

.hor_scroll{
    border: 2px solid black;
}

.hor_scroll .row{
    width: 95%;
    margin: auto;
    border: 2px solid white;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.hor_scroll .row::-webkit-scrollbar{
    display: none;
}

.hor_scroll .row .box{
    /* border: 1px solid black; */
    min-width: 300px;
    max-width: 300px;
    height: 410px;
    margin: 20px 7px;
    align-items: center;
    background-color: rgba(222, 220, 220, 0.628);
    border-radius: 7px;
    transition: linear 0.25s;
    margin-top: 50px;
} 

.hor_scroll .fa-chevron-left{
    position: absolute;
    top: 55%; 
    left: 0.5%;
    width: 30px;
    height: 30px;
    background-color: rgba(222, 220, 220, 0.628);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 9999;
    transition: 0s;
}

.hor_scroll .fa-chevron-right{
    position: absolute;
    top: 55%; 
    vertical-align: middle;
    right: 0.5%;
    width: 30px;
    height: 30px;
    background-color: rgba(222, 220, 220, 0.628);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 9999;
    transition: 0s;
}

.hor_scroll .row:hover .hor_scroll .fa-chevron-right{
    opacity: 1;
}

.fa-chevron-left:active , .fa-chevron-right:active{
    font-size: 25px;
}

.hor_scroll .row .box:hover{
    scale: 1.04;
}

.hor_scroll .row .box:hover img{
    scale: 1.01;
}

.row .box a{
    text-decoration: none;
}

.row .box .heading{
    color: rgb(53, 53, 53);
    position: relative;
    left: 8%;
    font-weight: 600;
    margin-top: 17px;
}

.row .box .content{
    color: rgb(53, 53, 53);
    position: relative;
    left: 8%;
    margin-top: 0;
    font-size: 15px;
}

.row .box img{
    height: 300px;
    width: 250px;
    position: relative;
    left: 8%;
    top: 15px;
    transition: 0.5s;
}