.chat-container {
    width: 80%;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

/* Chat header styles */
.chat-header {
    background-color: #DCBE87;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Chat messages container styles */
.chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

/* Individual message styles */
.user-message {
    background-color: #DCBE87;
    color: #4E1D04;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    clear: both;
    float: right;
}

.other-message {
    background-color: #f2f2f2;
    color: #333;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    clear: both;
    float: left;
}

/* Chat input and send button styles */
.chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ccc;
}

#message-input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
}

#send-button {
    background-color: #DCBE87;
    color: #4E1D04;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#send-button:hover {
    background-color: #4E1D04;
    color: #DCBE87;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
    .chat-container {
        width: 100%;
        border-radius: 0;
    }
}