*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* image slider */

.image-slider {
    padding: 10px 0px;
    background-color: rgb(176, 176, 176);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.image-slider ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.5s linear;
}

.image-slider li {
    flex: 0 0 100%;
    text-align: center;
}

.image-slider img {
    height: 400px;
    width: 85%;
}

/* .controls {
    text-align: center;
    margin-top: 10px;
} */

/* .controls button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
} */

/* .slider-image {
    width: 100%; 
    height: 500px;  
} */

/* updates and events section */

.updates&events{
    position: relative;
    width: 100%;
    height: auto;
}

.updates, .events{
    width: 46%;
    margin-top: 20px;
}

.updates h2, .events h2{
    text-align: left;
    margin-left: 30px;
}

.update, .event{
    margin-left: 30px;
    display: flex;
    margin-top: 10px;
    background-color: rgb(176, 176, 176);
    height: 130px;
    border-radius: 5px;
}

.update .data{
    margin-left: 10px;
    margin-top: 10px;
}

.update img{
    margin: 5px;
    height: 120px;
    width: 80px;
}

.heading{
    position: relative;
    display: inline;
    color: rgb(53, 53, 53);
    font-weight: 600;
}

.content{
    margin-top: 15px;
    position: relative;
    display: inline;
    color: rgb(53, 53, 53);
}

.separator{
    position: absolute;
    height: 370px;
    width: 2px;
    border: 1px solid black;
    top: 610px;
    left: 50%;
}

.events{
    position: absolute;
    float: right;
    top: 540px;
    left: 50%;
    margin-left: 25px;
}

.event i{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-size: 40px;
    margin-right: 10px;
}

.event .data{
    margin-top: 40px;
    margin-left: 20px;
}