*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100%;
    background-image: url(images/background3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #4e1d0452;
    border-radius: 10px;
    padding: 35px 40px 40px;
    text-align: center;
    align-items: center;
}

.form-box .logo{
    width: 120px;
    height: 120px;
    left: 30%;
    background-color: white;
    border-radius: 50%;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input-group input{
    background: transparent;
    width: 100%;
    outline: 0;
    border: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
}

form p a{
    text-decoration: none;
    color: #4E1D04;
    font-weight: bolder;
}

form .sb-btn{
    background-color: #4E1D04;
    color: #fff;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    width: 100%;
    height: 35px;
    font-weight: bold;
}

.input-group{
    height: 240px;
}