*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header nav{
    display: flex;
    justify-content: space-between;
    background-color: #27496D;
    width: 100%;
    padding-bottom: 10px;
}

header .left{
    display: flex;
}

header .left .logo{
    height: 90px;
    width: 90px;
    margin: 10px 0px 0px 30px;
    background-color: white;
    border-radius: 50%;
}

header .left .search_book{
    position: absolute;
    display: flex;
    left: 200px;
    align-items: center;
    height: 30px;
    margin: 40px;
    background-color: rgb(255, 255, 255, .3);
    color: white;
    padding-right: 7px;
    border-radius: 20px;
}

header .left .search_book input{
    width: 400px;
    padding: 5px 10px;
    outline: none;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(255, 255, 255, .0);
}

header .left .search_book .search{
    position: absolute;
    width: 420px;
    height: 170px;
    top: 40px;
    z-index: 9999;
    width: 100%;
    overflow-y: auto;
}

header .left .search_book .search::-webkit-scrollbar{
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

header .left .search_book .search::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255, 255, 255, .3);
    border-radius: 5px;
    visibility: hidden;
}

header .left .search_book .search:hover::-webkit-scrollbar{
    visibility: visible;
}

header .left .search_book .search:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}


header .left .search_book .search .card{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    /* padding: 3px 0px; */
    text-decoration: none;
    display: none;
}

header .left .search_book .search .card::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255, .1);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    z-index: -1;
}

header .left .search_book .search .card img{
    position: relative;
    width: 30px;
    height: 95%;
    margin-left: 3px;
    border-radius: 2px;
}

header .left .search_book .search .card .cont{
    margin-left: 10px;
    color: white;
}

header .left .search_book .search .card .cont h4{
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 370px;
}

header .left .search_book .search .card .cont p{
    font-size: 12px;
    color: rgb(255, 255, 255, .8);
}

header .left .search_book input::placeholder{
    color: white;
}

header .right{
    margin-left: 250px;
    margin-top: 20px;
    text-transform: uppercase;
}

header .right ul{
    list-style: none;
    display: flex;
}

header .right ul li{
    display: inline-block;
    position: relative;
}

header .right ul li a{
    display: block;
    padding: 25px;
    text-decoration: none;
    color: white;
}

header .right ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #9a8f18;
    position: absolute;
    left: 20%;
    bottom: 17px;
    transition: 0.5s; 
}

header .right ul li:hover::after{
    width: 60%;
    cursor: pointer;
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    background-color: #27496D;
    margin-top: 20px;
    color: white;
    padding: 20px 0px;
}

.contact p{
    display: inline;
}

.feedback{
    display: flex;
    margin-left: 20px; 
}

footer .feedback textarea, input:not(.submit){
    padding: 3px;
    width: 165px;
}

footer .feedback .submit{
    padding: 3px;
}

footer .time i{
    margin-top: 5px;
    margin-right: 3px;
    font-size: 23px;
} 

footer h3{
    margin-bottom: 5px;
}

footer p, footer i{
    margin-top: 3px;
}