*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav{
    display: flex;
    justify-content: space-between;
    background-color: #27496D;
    width: 100%;
    padding-bottom: 10px;
}

header .left{
    display: inline-block;
}

header .left .logo{
    height: 90px;
    width: 90px;
    margin: 10px 0px 0px 30px;
    background-color: white;
    border-radius: 50%;
}

header .right{
    margin-left: 500px;
    margin-top: 20px;
    text-transform: uppercase;
}

header .right ul{
    list-style: none;
    display: flex;
}

header .right ul li{
    display: inline-block;
    position: relative;
}

header .right ul li a{
    display: block;
    padding: 25px;
    text-decoration: none;
    color: white;
}

header .right ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #9a8f18;
    position: absolute;
    left: 20%;
    bottom: 17px;
    transition: 0.5s; 
}

header .right ul li:hover::after{
    width: 60%;
    cursor: pointer;
}